{%load static%}

<!DOCTYPE html>
<html lang="en">



    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block titulo%} www.consulta.com {%endblock titulo%}</title>
        <link rel="stylesheet" href="{% static 'StylesLogin\css\styles.css'%}">
       
        <link rel="stylesheet" href="{% block css %}{% static 'StylesLogin\css\stylesLogin.css' %}{% endblock %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">

        <!-- FONTS -->
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Akshar:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    </head>


<body>
    <div class="container">
      <header class="cabecera">
            <nav class="barra-navegacion">
                <ul class="lista">
                    <li class="l-lista"><a href="{% url 'index' %}">INICIO</a></li>
                    <li class="l-lista bt-activate">REGISTRARSE
                        <ul class="sublist-register">
                            <li class="ul-register"><a href="{% url 'registrarEmp' %}"><div>Empleado</div></a></li>
                            <li class="ul-register"><a href=""><div>Visitante</div></a></li>
                        </ul>
                    </li>
                    
                    <li class="l-lista"><a href="#">INGRESAR</a></li>
                </ul>
            </nav>
      </header>
      <div class="body-content">
   
        {%block Contenedor%}
        <form method="POST" class="user">
            {% csrf_token %}
        <div class="background-form">
            <img class="img-header" src="https://mx.joblum.com/uploads/3/2819.jpg">
            <div class="inputs">
             <label for="usuario">
                 Usuario:
                 <input type="mail" name="username" placeholder="example@constroction.com">
             </label>
             <label for="password">
                 Contraseña:
                <input type="password" name="password" placeholder="contraseña..">
            </label>
            <!-- <label>Correo:</label>
           {{form.username}}
           <br><br><br>
           <label>Contraseña:</label>
           {{form.password}} -->
            {% if messages %}
              {% for msg in messages %}
              <b>{{msg}}</b>
              {% endfor %}
              {% endif %}
        </div>
        <input type="submit" value="Ingresar" class="bt bt-int">
        <input type="reset" value="Limpiar" class="bt bt-out">
        </div>

         <h2 style="background-color: red;">{{message}}</h2>
        </form>
        {%endblock%}
      </div>
  
    </div>
<script src="{% static 'StylesLogin\js\cod.js'%}"></script>
</body>

</html>