{% extends 'registration/login.html' %} 
{%load static%} 
{% load crispy_forms_tags %}

{%block Contenedor%}
    <div class="content-formularioR">
       
      <form method="post" class="form-control">
        {% csrf_token %}
        <div><h1>Informacion:</h1></div>    
        <div class="content-datos"> 
                <label>Nombre:</label> {{formP.nombre}}
                <label>Apellido Paterno:</label> {{formP.paterno}}
                <label>Apellido Materno:</label> {{formP.materno}}
                <label>Genero:</label> {{formP.genero}}
                <label>Fecha de Nacimiento:</label> {{formP.fechanac}}
                <label>Lugar de Nacimiento:</label> {{formP.lugarnac}}
                <label>RFC:</label> {{formP.rfc}}
                <label>CURP: </label> {{formP.curp}}
                <label>Telefono:</label> {{formP.cel}}
           </div>
           <br>
           <hr>
           <br>
      <div><h1>Direccion:</h1></div>
       <div class="direction-content">
                    <label>Calle:</label> {{formP.calle}}
                    <label>Numero Interio:</label> {{formP.noint}}
                    <label>Numero Exterior:</label> {{formP.noext}}

                    <!-- ESTADO -->
                    <label>PAIS</label>
                    <select class="select-list" id="item_pais">
                    <option value ="">------</option>
                    {% for item_pais in pais%}
                    <option value="{{item_pais.idpais}}">
                    {{item_pais.nombre}}
                    </option>
                    {%endfor%}
                    </select>

                    <!-- ESTADO -->
                    <label>ESTADO</label>
                    <select class="select-list" id="item_estado">
   <option value ="">------</option>
     {% for item_estado in estado%}
    <option value="{{item_estado.idestado}}" data-chained="{{item_estado.fk_pais}}">
     {{item_estado.nombre}}
   </option>
   {%endfor%}
          </select>

                    <!-- MUNICPIO -->
                    <label>MUNICIPIO</label>
                    <select class="select-list" id="item_municipio">
   <option value ="">------</option>
   {% for item_municipio in municipio%}
   <option value="{{item_municipio.idmundeleg}}" data-chained="{{item_municipio.fk_estado}}">
      {{item_municipio.nombre}}
   </option>
   {%endfor%}
          </select>

                    <!-- CP -->
                    <label>CODIGO POSTAL</label>
                    <select class="select-list" id="item_cp" name="cp">
   <option value ="">------</option>
      {% for item_cp in cp%}
         <option value="{{item_cp.cp}}" data-chained="{{item_cp.fk_mpiodel}}">
         {{item_cp.cp}}
        </option>
      {%endfor%}
          </select>
           <br>
           <hr>
           <br>
          <div><h1>Credenciales:</h1></div>
          {{formU}}
                    <input type="submit" value="Registrar" class="bt-enviar-registro">
          </div>
          
      </form>
    </div>
            <!-- <script src="{% static 'js/jquery.chained' %}"></script> -->
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="{% static 'StylesLogin/js/cod.js'%}"></script>
    <script src="{% static 'StylesLogin/js/chained.js'%}"></script>
    <script>
          $(function() {
             $('#item_estado').chained('#item_pais');
              $('#item_municipio').chained('#item_estado');
             $('#item_cp').chained('#item_municipio');

          })
    </script>
    {%endblock%}